<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dekhbhaai.DekhBhaai" version="1.6.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DekhBhaai</name>
    <description>
        Dekh Bhaai Official Application is official Android Application. You Can Also Generate & edit Jo Baka, Dekh Bhaya, Dekh Bhai, Dekh Bhau Facts, Jokes etc and enjoy in all Common Language . Enjoy Dekh Bhai Meme Generator & Editor.
    </description>
    <author email="kfs.del@gmail.com" href="http://www.dekhbhaai.com">
        Dekh Bhaai Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
